@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lusitana:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-900;
}

body {
  font-family: 'Open Sans', sans-serif
}

/* Hide default number input controls in Firefox (not supported in Tailwind) */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide default number input controls in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}