<div class="border border-gray-300 p-4 rounded">
  <h2 class="text-lg font-semibold"><%= product.name %></h2>
  <p>$<%= product.display_price %></p>
  <%= button_to "Add to Cart",
      cart_cart_items_path(product_id: product.id, cart_id: cart.id),
      method: :post, 
      class: "bg-green-600 text-white px-4 py-2 rounded mt-2 cursor-pointer" %>
</div>
